<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Testing API REST</title>
</head>
<body>
    
    <div class="contenedor">
    <button class="contenedor__btn" onclick="getReq()">BD</button>  
    <button class="contenedor__btn btn__yellow" onclick='actStatus(0,"adelante")'>Adelante</button>  
    <button class="contenedor__btn btn__blue" onclick='actStatus(1,"atras")'>Atráz</button>  
    <button class="contenedor__btn btn__red" onclick='actStatus(2,"detenerse")'>Detenerse</button> 
    <button class="contenedor__btn btn__yellow" onclick='actStatus(3,"vuelta_izq")'>Vuelta Izquierda</button> 
    <button class="contenedor__btn btn__blue" onclick='actStatus(4,"vuelta_der")'>Vuelta Derecha</button> 
    <button class="contenedor__btn btn__red" onclick='actStatus(5,"giro_izq")'>Giro Izquierda</button> 
    <button class="contenedor__btn btn__yellow" onclick='actStatus(6,"giro_der")'>Giro Derecha</button> 
    <button class="contenedor__btn btn__blue" onclick='actStatus(7,"demo")'>Demo</button>
    </div>
    <pre id="consol"></pre>
    <table id="table">
        <tr>
            <td>id</td>
            <td>Status</td>
            <td>Ip</td>
            <td>Name</td>
            <td>Date</td>
            <td>Id Device</td>
        </tr>
        <%status.forEach(elemento=>{%>
            <tr>
                <td><%= elemento.id %></td>
                <td><%= elemento.status %></td>
                <td><%= elemento.ip_client %></td>
                <td><%= elemento.name %></td>
                <td><%= elemento.date %></td>
                <td><%= elemento.id_device%></td>
            </tr>
        <%});%>
    </table>
    <script src="public/js/apifront.js"></script>
    <script src="public/js/tabla.js"></script>
</body>
</html>